<!doctype html>
<html>

<head>
  <title>Torrentflix</title>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js"
    integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js"></script>
  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link href="/css/style.css" type="text/css" rel="stylesheet">



</head>

<body>
<div class="overlay"></div>
  <div class="container">

    <div class="search-box">
      <input type="text" id="search" placeholder="Search for a movie...">
    </div>
    <div id="search-result">

    </div>


  </div>


  <script src="/js/main.js"></script>
</body>

</html>